body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.bg {
	/* The image used */
	background-image: url("bagelday_5.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;
}

.date {
	position: absolute;
	transform: translate(-50%, -125%);
	left: 50%;
	top: 50%;
	text-align: center;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 8vh;
	text-shadow: 1px 1px black;
}

.info {
	position: absolute;
	transform: translate(-50%, -10%);
	left: 50%;
	top: 50%;
	text-align: left;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 2vh;
	background-color: rgba(0,0,0,0.32);
	border-radius: 4px;
	
}

